<!DOCTYPE html>
{% set locale = app.request.get('_locale') %}
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />	
    <link rel="stylesheet" href="{{ asset('css/colorbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/selectbox.css') }}" />
{#
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
#}
    <script type="text/javascript" src="{{ asset('js/jquery-1.7.1.min.js') }}"></script>
    <script src="{{ asset('js/validate.js') }}"></script>
    <script src="{{ asset('js/jquery.colorbox.js') }}"></script>
    <script src="{{ asset('js/jquery.selectbox-0.2.js') }}"></script>
    {#
    {% include 'ITVietSiteBundle:Common:tinymce.html.twig' %}
    #}
    {% include 'ITVietSiteBundle:Common:ckeditor.html.twig' %}
  </head>
  <body>
  <div id="top-bar">
    {% include 'ITVietSiteBundle:Layout:topPanel.html.twig' %}
  </div>
  <div id="wrap">
      <div id="header">
        <h1 id="logo"><a href="">Nam's Blog</a></h1>
      </div><!--end header-->
      <div id="navigator" class="group">
        <ul id="top-menu" class="blue">
          {% block topmenu %}
          {% endblock %}
        </ul>

      </div>
      <div id="content">
      {% block slideshow %}
      {% endblock %}
        <div id="main-content" class="group">
        <div id="breadcrumb">
        {% block breadcrumb %}
        {% endblock %}
        </div>
        <span class="group"></span>
          {% if success_notifications is not defined %}
            {% set success_notifications = [] %}
          {% endif %}
          {% if app.session.hasFlash('success') %}
            {% set success_notifications = success_notifications|merge([app.session.flash('success')]) %}
          {% endif %}
          {% for notification in success_notifications %}
            <div class="successMess">
              {{ notification|raw }}
            </div>
          {% endfor %}
        {% block maincontent %}
        {% endblock %}
        </div><!--end main-content-->
        <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
        </div><!--end sidebar-->
      </div><!--end content-->
      <div id="footer">
        <p>Do you care about footer? Me nether</p>
      </div>
    </div><!--end wrap-->

    <div style='display:none'>
        <div id='inline_content' style='padding:10px; background:#fff;'>
          {#  because js validate, this form and login form are not same #}
          <form id="fmLogin" action="{{ mlpath('_member_login_check') }}" method="post">
            <p>
              {% trans %}Username{% endtrans %}:<br /><input class="wpcf7-text" size="40" type="text" id="username" name="_username" />
            </p>
            <p>
              {% trans %}Password{% endtrans %}:<br /><input class="wpcf7-text" size="40" type="password" id="password" name="_password" />
            </p>
            <p>
              <button class="btn-itv" type="submit">{% trans %}Login{% endtrans %}</button>
            </p>
          </form>
        </div>
    </div>

  <script type="text/javascript" src="{{ path('_javascript', {'name':'app'}) }}"></script>
  </body>

</html>
